.keyboard{
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.white {
    width: 10%;
    height: 70%;
    background-color: white;
    border: 1px solid #ccc;
}

.black {
    width: 5%;
    height: 45%;
    margin-left: -2.5%;
    margin-right: -2.5%;
    z-index: 2;
    background-color: black;
}
.key{
    position: relative;
}
.key:hover .white-note{
    opacity: 1;
}

.key:hover .black-note{
    opacity: 1;
}

.white-note {
    position:absolute;
    bottom: 7px;
    width: 100%;
    display:block;
    transform: scale(1);

    transition: opacity .3s ease-out, transform .07s ease; ;
    opacity: 0;

}

.black-note {
    position:absolute;
    bottom: 7px;
    width: 100%;
    display:block;
    transform: scale(1);


    transition: opacity .3s ease-out, transform .07s ease; ;
    opacity: 0;
    color: white;
}

.playing{
    transform: scale(.95);
    border-color: #028ae9;
    transition: all  .07s ease;
    box-shadow: 0 0 1rem #028ae9;
}


.slider{

}

.edit-track{
    overflow-x: auto;
    overflow-y: hidden;
}
